#Default port is 8093
server:
  port: 8093
  
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      base-path: /
      path-mapping:
        health: health
      exposure:
        include: "*"
          
spring:
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springfox:
  documentation:
    swagger:
      v2:
        path: /api-docs
                
#Setting the logging levels for the service
#Migrate to logstach and Cloud Config
#logging:
#  level:
#    com.netflix: WARN
#    org.springframework.web: WARN
#    com.scc: DEBUG     