<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<!--
		Option archivage log file
		cf. https://github.com/spring-cloud-samples/sleuth-documentation-apps/blob/master/service1/src/main/resources/logback-spring.xml 
	-->
	<springProperty scope="context" name="springAppName" source="spring.application.name"/>
	<springProperty scope="context" name="logging.level.com.scc" source="logging.level.com.scc"/>
	
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/> <!-- MDC variables on the Thread will be written as JSON fields-->
                <context/> <!--Outputs entries from logback's context -->
                <version/> <!-- Logstash json format version, the @version field in the output-->
                <logLevel/>
                <loggerName/>

                <pattern>
                    <pattern>
                        {
                        <!-- we can add some custom fields to be sent with all the log entries.-->
                        <!--make filtering easier in Logstash-->
                        "appName": "${springAppName}",
                        "appVersion": "1.0"
                        }
                    </pattern>
                </pattern>

                <threadName/>
                <message/>

                <logstashMarkers/> <!-- Useful so we can add extra information for specific log lines as Markers-->
                <arguments/> <!--or through StructuredArguments-->

                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="stash"/>
    </root>

    <logger name="com.netflix" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="com.scc" level="${logging.level.com.scc}"/>

</configuration>